#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #050508;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: bottom;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev, .swiper-button-next {
  color: #FDCC65;
  opacity: 0.8;
}

.swiper-pagination-bullet {
  background-color: #FDCC65;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1.0;
}

  /** TRANSITIONS **/
.element-down-up {
  opacity: 0;
  -webkit-transform:translateY(100%);
  -moz-transform:translateY(100%);
  transform:translateY(100%);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.element-down-up.is-visible {
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  transform:translateY(0px);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  opacity: 1;
}
.element-up-down {
  opacity: 0;
  -webkit-transform:translateY(-100%);
  -moz-transform:translateY(-100%);
  transform:translateY(-100%);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.element-up-down.is-visible {
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  transform:translateY(0px);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  opacity: 1;
}
.element-left-right {
  opacity: 0;
  -webkit-transform:translateX(-100%);
  -moz-transform:translateX(-100%);
  transform:translateX(-100%);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.element-left-right.is-visible {
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  transform:translateX(0px);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  opacity: 1;
}
.element-right-left {
  opacity: 0;
  -webkit-transform:translateX(100%);
  -moz-transform:translateX(100%);
  transform:translateX(100%);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.element-right-left.is-visible {
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  transform:translateX(0px);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  opacity: 1;
}